Repository JackPlowman/windows-development-environment: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, justfile-format-check, pinact

prettier:
  name: Check Prettier Format
  language: node
  entry: prettier
  additional_dependencies:
  - prettier@3.7.4
  args:
  - --check

justfile-format-check:
  name: Justfile Format Check
  language: python
  entry: just
  additional_dependencies:
  - rust-just==1.45.0
  args:
  - format-check
  pass_filenames: false

pinact:
  name: Pinact Check
  language: golang
  entry: pinact
  additional_dependencies:
  - github.com/suzuki-shunsuke/pinact/v3/cmd/pinact@v3.8.0
  args:
  - run
  - --verify
  - --check
  pass_filenames: false

update
  .github/workflows/clean-caches.yml
  .github/workflows/code-checks.yml
  .github/workflows/pull-request-tasks.yml
  .github/workflows/sync-labels.yml
Due: prettier, pinact

Update Reusable Workflows (#152)
  .github/workflows/clean-caches.yml
  .github/workflows/code-checks.yml
  .github/workflows/pull-request-tasks.yml
  .github/workflows/sync-labels.yml
Due: prettier, pinact

update
  .github/workflows/code-checks.yml
Due: prettier, pinact

Reorder GitHub Jobs (#153)
  .github/workflows/code-checks.yml
Due: prettier, pinact

lol
  LICENCE
Due: none

Update licence to 2026 (#154)
  LICENCE
Due: none

Update Reusable Workflows (#155)
  .github/workflows/clean-caches.yml
  .github/workflows/code-checks.yml
  .github/workflows/pull-request-tasks.yml
  .github/workflows/sync-labels.yml
Due: prettier, pinact

update
  .pre-commit-config.yaml
Due: prettier

Update Prek minimum version (#156)
  .pre-commit-config.yaml
Due: prettier

Update Reusable Workflows (#157)
  .github/workflows/clean-caches.yml
  .github/workflows/code-checks.yml
  .github/workflows/pull-request-tasks.yml
  .github/workflows/sync-labels.yml
Due: prettier, pinact

Update Prek Hooks (#158)
  .pre-commit-config.yaml
Due: prettier

Path conditions:
  prettier: any of: (?i)(\.(md|markdown|ya?ml|json)$|^(README|LICENSE|CONTRIBUTING|CODE_OF_CONDUCT|SECURITY|SUPPORT)(\.md)?$)
  justfile-format-check: any of: (?i)(^justfile$|\.just$)
  pinact: any of: ^\.github/(workflows|actions)/.*\.ya?ml$|(^|/)action\.ya?ml$
